// fonts
$header-primary-color: #fff;
$body-primary-color: #fff;
$font-family-1: "Montserrat", sans-serif;
$font-family-2: "Kaushan Script", cursive;
$font-family-3: "Roboto", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-LightItalic: 200;
$font-size-24: 24px;
$font-size-14: 14px;
$font-size-18: 18px;
$font-size-72: 72px;

//colors
$paragraph-primary-color: #999999;
$color-secondary-dark: #333333;
$color-secondary-light-dark: #999999;

$icons-color: #95e1d3;
$nav-hover-color: #fce38a;
$top-nav-color: #ffffff;
$nav-bg-bottom: #f7eac4;
$small-dividers: #f38181;
$subject-text: #333333;
$description-color: #999999;
$logo-color: #ffffff;
