$background-color: #ffffff;
$icons-color: #95e1d3;
$nav-hover-color: #fce38a;
$top-nav-color: #ffffff;
$nav-bg-bottom: #f7eac4;
$small-dividers: #f38181;
$subject-text: #333333;
$description-color: #999999;
$logo-color: #ffffff;
