/* -------------------------- Reset CSS -------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------- Fonts importas -------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");

@import "../scss/abstracts/var";

// font-family: 'Kaushan Script', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
/* -------------------------- Mano kodas -------------------------- */
header {
  font-size: 0;
  height: 100vh;
  width: 100%;
  background-image: url(../images/mogo/erelis-background.jpg);
  background-position: center;
  background-size: cover;
  .skirtukas {
    margin: 0 auto;
    display: block !important;
    text-align: center;
    width: 60px;
    // border: 1px solid red;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  div {
    width: 62%;
    margin: 0 auto;
    padding-top: 28px;

    div {
      display: inline-block;
      font-size: 28px;
      width: 48%;
    }

    nav {
      width: 52%;
      display: inline-block;

      ul {
        width: 100%;
        margin: 0 auto;
        background-position: center;
        background-size: cover;
        margin: 0;
        padding: 0;
      }
      li {
        display: inline-block;
        width: 14%;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        list-style-type: none;
        text-align: center;
      }

      a {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        color: #fff;
      }
    }
  }
}

header > div:nth-child(2) {
  padding-top: 11vh;
  text-align: center;
  h1 {
    font-size: 72px;
    text-align: center;
    margin-bottom: 3vh;
    font-family: $font-family-2;
    font-weight: $font-weight-regular;
    color: $header-primary-color;
  }

  h2 {
    font-size: 150px;
    font-family: $font-family-1;
    font-weight: $font-weight-bold;
    color: $header-primary-color;
  }

  h2:nth-child(3) {
    margin-top: 0.2vh;
  }

  // hr {
  //   width: 60px;
  //   border: 3px solid $header-primary-color;
  //   margin-top: 3vh;
  //   margin-bottom: 6vh;
  // }

  a {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: $font-weight-bold;
    color: $header-primary-color;
    padding: 12px 31px 12px 31px;
    border: 3px solid $header-primary-color;
    text-transform: uppercase;
    text-decoration: none;
  }
}

header > ul {
  position: absolute;
  // background-color: red;
  width: 62%;
  margin: 0 auto;
  font-size: 0;
  // text-align: center;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);

  li {
    width: 19%;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 18px;
    border-top: 3px solid $header-primary-color;
    list-style-type: none;
    margin-right: 8%;
  }

  span {
    color: $header-primary-color;
    font-size: 24px;
    font-weight: $font-weight-bold;
    font-family: $font-family-1;
  }

  small {
    color: $header-primary-color;
    font-family: $font-family-1;
    font-size: 18px;
    font-weight: $font-weight-regular;
  }

  a {
    text-decoration: none;
  }
}

.img1,
.img2 {
  margin-right: -65px;
}

.last-il {
  margin: 0;
}

.container {
  padding-top: 91px;
  width: 62%;
  margin: 0 auto;
  background-color: $body-primary-color;
  h3 {
    text-align: center;
    font-family: $font-family-2;
    font-weight: $font-weight-bold;
    font-size: 24px;
    margin-bottom: 23px;
  }

  h4 {
    text-align: center;
    margin-bottom: 23px;
    font-size: 30px;
    font-family: $font-family-1;
    font-weight: $font-weight-bold;
  }
  .skirtukas {
    border-top: 3px solid red;
    width: 60px;
    margin: 0 auto;
    margin-top: 40px;
  }

  p {
    width: 62%;
    text-align: center;
    font-family: $font-family-3;
    font-weight: $font-weight-regular;
    color: $paragraph-primary-color;
    margin: 0 auto;
    margin-top: 43px;
  }

  ul {
    margin-top: 100px;
    font-size: 0;
    li {
      width: 30%;
    }

    li:first-child {
      display: inline-block;
      margin-right: 5%;
    }

    li:nth-child(2) {
      display: inline-block;
      margin-right: 5%;
    }

    li:nth-child(3) {
      display: inline-block;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .sumazinti {
      max-height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }
}

.container-numbers {
  margin-top: 110px;
  height: 270px;
  background-color: #95e1d3;
  ul {
    width: 62%;
    margin: 0 auto;
    font-size: 0;
    display: block;
  }

  li {
    font-size: 14px;
    display: inline-block;
    height: 270px;
    width: 20%;
    border: 1px solid $body-primary-color;
    box-sizing: border-box;
    padding-top: calc((270px - 101px) / 2);
    text-align: center;
  }

  .number {
    font-size: $font-size-72;
    font-family: $font-family-1;
    font-weight: $font-weight-bold;
    color: $body-primary-color;
    display: block;
  }

  .text {
    font-size: $font-size-14;
    font-weight: $font-weight-regular;
    color: $body-primary-color;
    display: block;
  }
  .text {
    padding-top: 15px;
  }
}

.a-services {
  padding-top: 91px;
  width: 62%;
  margin: 0 auto;
  background-color: $body-primary-color;
  h3 {
    text-align: center;
    font-family: $font-family-2;
    font-weight: $font-weight-regular;
    font-size: 24px;
    margin-bottom: 23px;
  }

  h4 {
    text-align: center;
    margin-bottom: 23px;
    font-size: 30px !important;
    font-family: $font-family-1 !important;
    font-weight: $font-weight-bold;
  }

  p {
    text-align: center;
    font-family: $font-family-3;
    font-weight: $font-weight-regular;
    color: $paragraph-primary-color;
    margin: 0 auto;
    margin-top: 43px;
  }
  :nth-child(5) {
    // background-color: red;
    font-size: 0;
    margin-top: 61px;
  }

  :nth-child(5) div {
    // border: 1px solid red;
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box;
  }

  :nth-child(7) {
    // border: 1px solid red;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;

    font-size: 0;
  }

  :nth-child(7) div {
    // border: 1px solid red;
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box;
    font-size: 0;
  }

  :nth-child(5) > div:first-child img {
    padding-top: 1px;
  }

  h5 {
    font-size: 14px;
    text-align: left;
    // background-color: green;
    display: inline-block;
    width: 80%;
    margin-left: 6%;
    font-weight: $font-weight-regular;
    color: $color-secondary-dark;
  }

  p.description {
    font-size: 14px;
    color: $paragraph-primary-color;
    width: 86%;
    margin-top: -5px;
    text-align: left;
    margin-right: 5px;
    margin-left: 18%;
  }

  div.icons {
    display: inline-block;
    width: 34px;
    height: 100%;
    border: 1px solid white;
    vertical-align: top;
    width: 12%;
  }

  .atskirti {
    border-top: 1px solid $paragraph-primary-color;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.unique-design {
  background-image: url("../images/mogo/gray-background.png");
  padding-top: 91px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 91px;
  h3 {
    text-align: center;
    font-family: $font-family-2;
    font-weight: $font-weight-regular;
    font-size: 24px;
    margin-bottom: 23px;
  }

  h4 {
    text-align: center;
    margin-bottom: 23px;
    font-size: 30px !important;
    font-family: $font-family-1 !important;
    font-weight: $font-weight-bold;
  }
  .display-images {
    position: relative;
    width: 62%;
    margin: 0 auto;
  }

  img.tablet {
    margin-top: 40px;
    display: block;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    margin: 0 auto;
  }
  img.phone {
    position: absolute;
    right: 20%;
    bottom: -45px;
    border-radius: 27px;
  }
}

.skirtukas {
  border-top: 3px solid $color-main-deviders;
  width: 60px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

section.main-container {
  width: 62%;
  margin: 0 auto;
  margin-top: 91px;
  h3 {
    text-align: center;
    font-family: $font-family-2;
    font-weight: $font-weight-regular;
    font-size: 24px;
    margin-bottom: 23px;
  }

  h4 {
    text-align: center;
    margin-bottom: 23px;
    font-size: 30px !important;
    font-family: $font-family-1 !important;
    font-weight: $font-weight-bold;
  }
  p {
    font-family: $font-family-3;
    font-weight: $font-weight-regular;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 91px;
    text-align: center;
  }
  .pics {
    font-size: 0;
  }

  .pics > div {
    display: inline-block;
    width: 50%;
    font-size: 0;
  }

  .pics > div img {
    width: 100%;
    object-fit: cover;
  }

  .pics > div:nth-child(2) {
    display: inline-block;
    width: 50%;
    font-size: 0;
  }

  .pics > div:nth-child(2) > div {
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 56px;
    padding-left: 10px;
  }

  .pics > div:nth-child(2) > div > img {
    width: 34px;
    vertical-align: middle;
  }

  span {
    font-size: 14px;
    font-family: $font-family-1;
    font-weight: $font-weight-regular;
    vertical-align: middle;
    padding-left: 10px;
    line-height: 56px;
  }

  .pics > div:nth-child(2) p {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin: 0;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 25px;
    font-family: $font-family-3;
    font-weight: $font-weight-Light;
    font-style: $font-style-talic;
    padding-left: 10px;
  }
}

section.queate {
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 119px;

  .main-div {
    width: 50%;
    margin: 0 auto;
    font-size: 0;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  blockquote {
    width: 82%;
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    font-family: $font-family-3;
    font-weight: $font-weight-Light;
    font-style: $font-style-talic;
    padding-left: 34px;
    box-sizing: border-box;
  }
  div > div:first-child {
    display: inline-block;
    border: 3px solid #95e1d3;
    width: 18%;
    box-sizing: border-box;
  }

  img {
    display: inline-block;
    width: 42px;
    height: 40px;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 34px;
  }

  hr {
    border-top: 3px solid red;
    width: 60px;
    margin-left: 0px;
    display: inline-block;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    margin-left: 15px;
    margin-top: 12px;
    font-family: $font-family-2;
    font-weight: $font-weight-regular;
    font-size: $font-size-24;
  }
}

.who-we-are {
  width: 62%;
  margin: 0 auto;
  margin-top: 91px;

  h3 {
    text-align: center;
    font-family: $font-family-2;
    font-weight: $font-weight-regular;
    font-size: 24px;
    margin-bottom: 23px;
  }

  h4 {
    text-align: center;
    margin-bottom: 23px;
    font-size: 30px !important;
    font-family: $font-family-1 !important;
    font-weight: $font-weight-bold;
  }

  p {
    font-family: $font-family-3;
    font-weight: $font-weight-regular;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 91px;
    text-align: center;
  }
  ul {
    margin-top: 100px;
    font-size: 0;
    li {
      width: 30%;
    }
    li img {
      z-index: 0;
    }

    .square {
      position: relative;
      background: red;
    }

    .square:before {
      content: "";
      display: block;
      position: absolute;
      height: 0%;
      width: 100%;
      bottom: 0;
      transition: height 0.5s ease-out;
      background: rgb(242, 219, 139);
      background: linear-gradient(0deg, rgba(242, 219, 139, 0.8) 0%, rgba(238, 137, 137, 0.7) 100%);
    }
    .square:hover:before {
      z-index: 2;
      height: 100%;
    }

    li:first-child {
      display: inline-block;
      margin-right: 5%;
    }

    li:nth-child(2) {
      display: inline-block;
      margin-right: 5%;
    }

    li:nth-child(3) {
      display: inline-block;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    span {
      display: block;
      font-size: $font-size-14;
      font-family: $font-family-1;
      font-weight: $font-weight-regular;
      color: $color-secondary-dark;
      text-align: center;
      width: 100%;
      margin-top: 10px;
    }
    li span:nth-child(3) {
      font-family: $font-family-3;
      font-weight: $font-weight-Light;
      font-size: 15px;
      color: $paragraph-primary-color;
      font-style: italic;
    }
  }
}
.brands {
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 91px;
  img {
    display: block;
    width: 62%;
    margin: 0 auto;
  }
}

.some-of-our-work {
  width: 62%;
  margin: 0 auto;
  margin-top: 91px;

  h3 {
    text-align: center;
    font-family: $font-family-2;
    font-weight: $font-weight-regular;
    font-size: 24px;
    margin-bottom: 23px;
  }

  h4 {
    text-align: center;
    margin-bottom: 23px;
    font-size: 30px !important;
    font-family: $font-family-1 !important;
    font-weight: $font-weight-bold;
  }

  p {
    font-family: $font-family-3;
    font-weight: $font-weight-regular;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 91px;
    text-align: center;
  }
}

.bg {
  position: absolute;
  width: 100% !important;

  background: rgb(242, 219, 139);
  background: linear-gradient(0deg, rgba(242, 219, 139, 0.8) 0%, rgba(238, 137, 137, 0.7) 100%);
  left: 0;
  z-index: 1;
  opacity: 0;

  .content-to-center {
    margin: 0;
    padding: 0;

    // border: 1px solid white;
    position: absolute;
    width: auto !important;
    height: 90px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    img {
      display: block !important;
      margin: 0 auto;
      width: 35px !important;
      height: 35px !important;
    }
    span {
      color: white;
      white-space: nowrap;
      font-weight: $font-weight-regular;
      font-family: $font-family-1;
      font-size: $font-size-14;
      // display: inline;
      // margin: 0 auto;
      margin-top: 15px;
      // display: block;
      // text-align: center;
      // height: auto;
      // line-height: 15px;
    }
    small {
      font-weight: $font-weight-Light;
      font-family: $font-family-3;
      font-size: $font-size-15;
      font-style: $font-style-talic;
      margin-top: 10px;
      margin-left: 13px;
    }
  }
}

.gallery {
  width: 100%;
  font-size: 0;

  .kaire {
    display: inline-block;
    width: 50%;
    font-size: 0;
    // box-sizing: border-box;
    :first-child {
      width: 50%;
      height: 25vw;
      object-fit: cover;
      display: inline-block;
      position: relative;
      img {
        width: 100%;
      }
    }
    :first-child:hover {
      .bg {
        opacity: 1;
      }
    }

    :nth-child(2) {
      width: 50%;
      height: 25vw;
      object-fit: cover;
      display: inline-block;
      img {
        width: 100%;
        position: relative;
      }
      .cc {
        width: 25% !important;
        left: 25%;
      }
    }

    :nth-child(2):hover {
      .bg {
        opacity: 1;
      }
    }
    :nth-child(3) {
      width: 50%;
      height: 25vw;
      object-fit: cover;
      display: inline-block;
      position: relative;
      img {
        width: 100%;
      }
      .tt {
        position: absolute;
      }
    }
    :nth-child(3):hover {
      .bg {
        opacity: 1;
      }
    }
    :nth-child(4) {
      width: 50%;
      height: 25vw;
      object-fit: cover;
      display: inline-block;
      position: relative;
      img {
        width: 100%;
      }
    }
    :nth-child(4):hover {
      .bg {
        opacity: 1;
      }
    }
  }
  .visas {
    width: 25%;
    display: inline-block;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      height: 50vw;
    }
    .taisyti {
      height: 100%;
      top: 0;

      img {
        margin-bottom: 15px;
      }
    }
    .rikiuoti {
      small {
        display: inline-block;
      }
    }
    :hover {
      .bg {
        opacity: 1;
      }
    }
  }

  .desine {
    // border: 1px solid red;
    display: inline-block;
    width: 25%;
    box-sizing: border-box;

    :first-child {
      display: inline-block;
      width: 100%;
      height: 25vw;
      position: relative;
      img {
        object-fit: cover;
      }
    }
    :first-child:hover {
      .bg {
        opacity: 1;
        z-index: 1;
      }
    }
    :nth-child(2) {
      display: inline-block;
      width: 100%;
      height: 25vw;
      object-fit: cover;
      .cc {
        width: 25% !important;
        left: 75%;
      }
      img {
        position: relative;
      }
    }
    :nth-child(2):hover {
      .bg {
        opacity: 1;
        z-index: 1;
      }
    }
  }
}
.fix {
  height: 100%;
}
.fix2 {
  position: absolute;
}
.queate-2 {
  width: 100%;
  // background-color: #f8f8f8;
  margin-top: 119px;

  .main-div {
    width: 50%;
    margin: 0 auto;
    font-size: 0;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  blockquote {
    width: 82%;
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    font-family: $font-family-3;
    font-weight: $font-weight-Light;
    font-style: $font-style-talic;
    padding-left: 34px;
    box-sizing: border-box;
    color: $paragraph-primary-color;
  }
  div > div:first-child {
    display: inline-block;
    // border: 3px solid #95e1d3;
    width: 18%;
    box-sizing: border-box;
  }

  img {
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    vertical-align: middle;
    box-sizing: border-box;
  }

  hr {
    border-top: 3px solid red;
    width: 60px;
    margin-left: 0px;
    display: inline-block;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    margin-left: 15px;
    margin-top: 12px;
    font-family: $font-family-2;
    font-weight: $font-weight-regular;
    font-size: $font-size-24;
    color: $color-secondary-dark;
  }
}
.testimonials {
  width: 100%;
  height: auto;
  background-image: url("../images/mogo/mountain-background.jpg");
  // width: 62%;
  // margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 91px;

  h3 {
    text-align: center;
    font-family: $font-family-2;
    font-weight: $font-weight-regular;
    font-size: 24px;
    margin-bottom: 23px;
  }

  h4 {
    text-align: center;
    margin-bottom: 23px;
    font-size: 30px !important;
    font-family: $font-family-1 !important;
    font-weight: $font-weight-bold;
  }

  p {
    font-family: $font-family-3;
    font-weight: $font-weight-regular;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 91px;
    text-align: center;
  }

  .main-div-for-tesimonials {
    // background-color: red;
    width: 62%;
    margin: 0 auto;
    // background-color: red;
    .p-aprasymas {
      width: 95%;
      font-family: $font-family-3;
      font-size: $font-size-15;
      font-weight: $font-weight-regular;
      color: $paragraph-primary-color;
      text-align: left;
      margin: 0;
    }
    h6 {
      font-family: $font-family-1;
      font-size: $font-size-14;
      font-weight: $font-weight-regular;
      color: $color-secondary-dark;
      margin: 0;
    }
    span {
      font-family: $font-family-3;
      font-weight: $font-weight-Light;
      font-style: $font-style-talic;
      color: $color-secondary-dark;
      font-size: $font-size-15;
    }
    .testi {
      margin-left: 0;
      margin: 15px 0 15px;
    }
  }

  .top-block {
    // background-color: green;
    font-size: 0;
    margin-bottom: 40px;

    > div:first-child {
      // background-color: yellow;
      width: 50%;
      display: inline-block;
    }
    > div:nth-child(2) {
      // background-color: yellow;
      width: 50%;
      display: inline-block;
      img {
        object-position: bottom;
      }
    }
  }

  .bottom-block {
    // background-color: blue;
    font-size: 0;
    > div:first-child {
      width: 50%;
      display: inline-block;
    }
    > div:nth-child(2) {
      width: 50%;
      display: inline-block;
    }
  }

  img {
    width: 80px !important;
    height: 80px !important;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block !important;
  }

  .testi-pic {
    width: auto;
    display: inline-block;
  }

  .testi-descr {
    width: 75% !important;
    display: inline-block;
    margin-left: 25px;
  }
}

.universal-container {
  padding-top: 91px;
  padding-bottom: 91px;
  width: 62%;
  margin: 0 auto;
  h3 {
    text-align: center;
    font-family: $font-family-2;
    font-weight: $font-weight-regular;
    font-size: 24px;
    margin-bottom: 23px;
  }

  h4 {
    text-align: center;
    margin-bottom: 23px;
    font-size: 30px !important;
    font-family: $font-family-1 !important;
    font-weight: $font-weight-bold;
  }

  p {
    font-family: $font-family-3;
    font-weight: $font-weight-regular;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 91px;
    text-align: center;
  }
  ul {
    margin-top: 100px;
    font-size: 0;
    li {
      width: 30%;
    }

    li:first-child {
      display: inline-block;
      margin-right: 5%;
      position: relative;
    }

    li:nth-child(2) {
      display: inline-block;
      margin-right: 5%;
      position: relative;
    }

    li:nth-child(3) {
      display: inline-block;
      position: relative;
    }

    img.big {
      width: 100%;
      height: auto;
    }
    span.name {
      display: block;
      font-size: $font-size-14;
      font-family: $font-family-1;
      font-weight: $font-weight-regular;
      color: $color-secondary-dark;
      text-align: center;
      width: 100%;
      margin: 15px 0 15px;
    }

    li span:nth-child(4) {
      font-family: $font-family-3;
      font-weight: $font-weight-regular;
      font-size: 15px;
      color: $paragraph-primary-color;
      font-style: italic;
    }
    img.little-img {
      width: auto;
      height: auto;
      display: inline;
      margin-right: 10px;
      // object-fit: cover;
      vertical-align: top;
    }
    .chat {
      height: 14px !important;
    }

    hr {
      margin-top: 15px;
      margin-bottom: 15px;
      border: 1px solid #e5e5e5;
    }
    .nr {
      display: inline !important;
      margin-right: 10px;
      font-family: $font-family-3;
      font-size: $font-size-15;
      font-style: $font-style-talic;
      color: $paragraph-primary-color;
    }
    .label {
      background-color: #95e1d3;
      width: auto;
      padding: 14px;
      position: absolute;
      bottom: 150px;
      left: -10px;

      span {
        display: block;
        font-size: 30px;
        color: white;
        font-family: $font-family-1;
        font-weight: $font-weight-bold;
        line-height: 30px;
        margin-top: 0;
      }

      small {
        font-size: 15px;
        font-family: $font-family-3;
        font-style: $font-style-talic;
        font-weight: $font-weight-Light;
        color: white;
      }
    }
  }
}

.map {
  width: 100%;
  background-image: url("../images/mogo/map-bg.jpg");

  img {
    margin: 0 auto;
    display: block;
  }
  a {
    text-align: center;
    text-decoration: none;
    font-family: $font-family-1;
    font-size: $font-size-24;
    font-weight: $font-weight-bold;
    span {
      display: block;
      margin-top: 25px;
      margin-bottom: 25px;
      color: $color-main-deviders;
    }
  }
  .skirtukas {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.last-blog {
  font-size: 0;
  > div:first-child p {
    background: green;
    width: 33.33%;
    display: inline-block;
  }
  > div:nth-child(2) {
    font-size: 84px;
    background-color: red;
    display: inline-block;
    width: 33.33%;
  }
  // > div:nth-child(2) > {
  //   font-size: 15px;
  //   background-color: red;
  //   display: inline-block;
  // }
  div.blogs {
    font-size: 15px;
    background-color: red;
    display: inline-block;
    // width: 33.33%;
    // vertical-align: middle;
  }
  .blogs > div:first-child > p {
    background-color: blue;
    display: inline-block;
    width: 50%;
    padding: 0;
    margin: 0;

    + span {
      display: inline-block;
      width: 50%;
      background-color: yellow;
      vertical-align: middle;
    }
  }

  // .blogs > div:first-child > span {
  //   display: inline-block;
  //   width: 50%;
  //   background-color: yellow;
  //   vertical-align: baseline;
  // }
}
