/* -------------------------- Reset CSS -------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------- Fonts importas -------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap");

@import "../scss/abstracts/var";

// font-family: 'Kaushan Script', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
/* -------------------------- Mano kodas -------------------------- */
header {
  font-size: 0;
  height: 100vh;
  width: 100%;
  background-image: url(../images/mogo/erelis-background.jpg);
  background-position: center;
  background-size: cover;

  div {
    width: 62%;
    margin: 0 auto;
    padding-top: 28px;

    div {
      display: inline-block;
      font-size: 28px;
      width: 48%;
    }

    nav {
      width: 52%;
      display: inline-block;

      ul {
        width: 100%;
        margin: 0 auto;
        background-position: center;
        background-size: cover;
        margin: 0;
        padding: 0;
      }
      li {
        display: inline-block;
        width: 14%;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        list-style-type: none;
        text-align: center;
      }

      a {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        color: #fff;
      }
    }
  }
}

header > div:nth-child(2) {
  padding-top: 11vh;
  text-align: center;
  h1 {
    font-size: 72px;
    text-align: center;
    margin-bottom: 3vh;
    font-family: $font-family-2;
    font-weight: $font-weight-regular;
    color: $header-primary-color;
  }

  h2 {
    font-size: 150px;
    font-family: $font-family-1;
    font-weight: $font-weight-bold;
    color: $header-primary-color;
  }

  h2:nth-child(3) {
    margin-top: 0.2vh;
  }

  hr {
    width: 60px;
    border: 3px solid $header-primary-color;
    margin-top: 3vh;
    margin-bottom: 6vh;
  }

  a {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: $font-weight-bold;
    color: $header-primary-color;
    padding: 12px 31px 12px 31px;
    border: 3px solid $header-primary-color;
    text-transform: uppercase;
    text-decoration: none;
  }
}

header > ul {
  position: absolute;
  // background-color: red;
  width: 62%;
  margin: 0 auto;
  font-size: 0;
  // text-align: center;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);

  li {
    width: 19%;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 18px;
    border-top: 3px solid $header-primary-color;
    list-style-type: none;
    margin-right: 8%;
  }

  span {
    color: $header-primary-color;
    font-size: 24px;
    font-weight: $font-weight-bold;
    font-family: $font-family-1;
  }

  small {
    color: $header-primary-color;
    font-family: $font-family-1;
    font-size: 18px;
    font-weight: $font-weight-regular;
  }

  a {
    text-decoration: none;
  }
}

.img1,
.img2 {
  margin-right: -65px;
}

.last-il {
  margin: 0;
}

.container {
  padding-top: 91px;
  width: 62%;
  margin: 0 auto;
  background-color: $body-primary-color;
  h3 {
    text-align: center;
    font-family: $font-family-2;
    font-weight: $font-weight-bold;
    font-size: 24px;
    margin-bottom: 23px;
  }

  h4 {
    text-align: center;
    margin-bottom: 23px;
  }
  .skirtukas {
    border-top: 3px solid red;
    width: 60px;
    margin: 0 auto;
    margin-top: 40px;
  }

  p {
    width: 62%;
    text-align: center;
    font-family: $font-family-3;
    font-weight: $font-weight-regular;
    color: $paragraph-primary-color;
    margin: 0 auto;
    margin-top: 43px;
  }

  ul {
    margin-top: 100px;
    font-size: 0;
    li {
      width: 30%;
    }

    li:first-child {
      display: inline-block;
      margin-right: 5%;
    }

    li:nth-child(2) {
      display: inline-block;
      margin-right: 5%;
    }

    li:nth-child(3) {
      display: inline-block;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .sumazinti {
      max-height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }
}

// .images {
//   margin-bottom: 110px;
// }

.container-numbers {
  margin-top: 110px;
  height: 270px;
  background-color: #95e1d3;
  ul {
    width: 62%;
    margin: 0 auto;
    font-size: 0;
    display: block;
  }

  li {
    font-size: 14px;
    display: inline-block;
    height: 270px;
    width: 20%;
    border: 1px solid $body-primary-color;
    box-sizing: border-box;
    padding-top: calc((270px - 101px) / 2);
    text-align: center;
  }

  .number {
    font-size: $font-size-72;
    font-family: $font-family-1;
    font-weight: $font-weight-bold;
    color: $body-primary-color;
    display: block;
  }

  .text {
    font-size: $font-size-14;
    font-weight: $font-weight-regular;
    color: $body-primary-color;
    display: block;
  }
  .text {
    padding-top: 15px;
  }
}

.a-services {
  padding-top: 91px;
  width: 62%;
  margin: 0 auto;
  background-color: $body-primary-color;
  h3 {
    text-align: center;
    font-family: $font-family-2;
    font-weight: $font-weight-bold;
    font-size: 24px;
    margin-bottom: 23px;
  }

  h4 {
    text-align: center;
    margin-bottom: 23px;
  }
  .skirtukas {
    border-top: 3px solid red;
    width: 60px;
    margin: 0 auto;
    margin-top: 40px;
  }

  p {
    text-align: center;
    font-family: $font-family-3;
    font-weight: $font-weight-regular;
    color: $paragraph-primary-color;
    margin: 0 auto;
    margin-top: 43px;
  }
  :nth-child(5) {
    // background-color: red;
    font-size: 0;
  }
  :nth-child(5) div {
    border: 1px solid red;
    display: inline-block;
    width: 33%;
  }

  :nth-child(5) > div:first-child img {
    padding-top: 1px;
  }

  h5 {
    font-size: 14px;
    text-align: left;
    // background-color: green;
    display: inline-block;
    width: 80%;
    margin-left: 6%;
    font-weight: $font-weight-regular;
    color: $color-secondary-dark;
  }

  p.description {
    font-size: 14px;
    color: $color-secondary-light-dark;
    width: 86%;
    margin-top: -5px;
    text-align: left;
    margin-right: 5px;
    margin-left: 18%;
  }

  div.icons {
    display: inline-block;
    width: 34px;
    height: 100%;
    border: 1px solid white;
    vertical-align: top;
    width: 12%;
    box-sizing: border-box;
  }

  div.main {
    border: 1px solid white;
    // width: 100%;
    font-size: 0;
  }
}
