/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mano kodas */

section {
	width: 100%;
    font-size:0;
    height: 500px;
    position:relative;
}

section>div:first-child {
	width: 50%;
	display: inline-block;
}

section>div:nth-child(2)>div:first-child{
    margin-left:15px;
} 

img {
   width:100%;
    height:500px;
   object-fit:cover;
}

section>div:nth-child(2){
    width:50%;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);  
}


form input[type="text"], input[type="email"] {
	margin:5px 0 5px 0;
	height:45px;
	border:1px solid lightgray;
	border-radius:4px;
	width:194px;
}

section>div:nth-child(2)>div>div>object{
    background-color:#7dad41;
    border-radius:25px;
}

::placeholder {
	font-size:11px;
	color:rgb(26, 25, 25);
	padding-left:5px;
}

h1 {
    font-size: 28px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 + p {
	color:rgb(148, 147, 147);
	font-size:11px;
    margin-bottom: 12px;
}

section>div:nth-child(2) div+p {
	font-size:11px;
	color:rgb(148, 147, 147);
}

input[type="submit"] {
	color:white;
	background-color:#7dad41;
	border:2px solid #6c9639;
	border-radius: 4px;
	padding: 10px 25px 10px 25px;
}

p {
    margin-top:10px;
}
