/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mano kodas */
header {
	width: 100%;
}

/* header :first-child {
	width: 50%;
	background-color: green;
	display:inline-block;
	
} */
img {
	width: 50%;
	display: inline-block;
	float:left;
}



.aprasymas {
	width:50%;
	display: inline-block;
	float:right;
}
.clearfix {
	clear: both;
}

form input[type="text"],input[type="email"] {
	margin:5px 0 5px 0;
	height:25px;
	border:1px solid lightgray;
	border-radius:4px;
	width:35%;
}

.aprasymas>div {
	margin:20px;
}

::placeholder {
	font-size:11px;
	color:rgb(26, 25, 25);
	padding-left:5px;
}

h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 + p {
	color:rgb(148, 147, 147);
	font-size:11px;
}

.aprasymas div+p {
	font-size:11px;
	color:rgb(148, 147, 147);
	margin-left:20px;
	margin-top:-10px;
}
input[type="submit"] {
	color:white;
	background-color:#7dad41;
	border:2px solid #6c9639;
	border-radius: 4px;
	width: 36%;
	height:30px;
}

span{
	font-size: 54px;
}

object {
	margin-bottom:-20px;
}