/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mano kodas */

section {
    height:100vh;
    background-image: url('../images/table-with-a-flower.jpg');
    background-size: cover;
    background-position: center; 
}

section>div{
    height:100vh;
    background: rgba(0, 0, 0, 0.767)
}

section>div>div div{
    font-size:0;
}

section>div>div:first-child>div form + p{
    font-size:14px;
    color:lightgrey;
    font-weight: lighter;
    padding-left:15%;
}

section>div div{
    width:75%;
    font-size:0;
    padding-top:calc((100vh - 281px)/2);
    margin:0 auto;
}

section>div>div div {
    display: inline-block;
    width:65%;
   vertical-align:top;
   padding-top:15px;
}

section>div>div p {
    font-size: 16px;
    width:95%;
    color:#d6d6d6f7;
}

h1{
    font-size:55px;
    font-weight:bolder;
    color:#edededf7;
    padding:20px;
    padding-left:0;   
    margin-top:50px;
}

form {
    width:100%;
    box-sizing: border-box;
    padding-left:15%;
}

input {
    width:100%;
    padding:0;
    margin-bottom:10px;
    box-sizing: border-box;
}

input[type="text"], input[type="email"]{
    padding:15px 0 15px 0;
    background-color:#edededf7;
    border:1px solid black !important;
    border-radius: 3px;
}

textarea{
  width:100%;
  box-sizing: border-box;
  padding: 40px 0 40px 0;
  margin-bottom: 10px;
  background-color:#edededf7;
  border-radius: 3px;
}

section>div>div>div:nth-child(2) {
    display:inline-block;
    width:35%;
    box-sizing: border-box;
    padding:0;
}

input[type="submit"]{
    padding:15px 0 15px 0;
    background-color: #f77924;
    border:1px solid #af561a;
    color:#edededf7;
    border-radius: 3px;
}

::placeholder {
    padding-left:10px;
    font-size:14px;
    font-weight: lighter;
    color:rgb(71, 62, 62);
}
