/* -------------------------- Reset CSS -------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------- Fonts importas -------------------------- */
/* -------------------------- Mano kodas -------------------------- */
header {
  font-size: 0;
  height: 100vh;
  width: 100%;
  background-image: url(../images/mogo/erelis-background.jpg);
  background-position: center;
  background-size: cover;
}
header .nav-hov {
  position: absolute;
  width: 70%;
  height: 100%;
  border-bottom: 3px solid #fce38a;
  top: 5px;
  left: 15px;
  opacity: 0;
}
header .skirtukas {
  margin: 0 auto;
  display: block !important;
  text-align: center;
  width: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 3px solid white;
}
header div {
  width: 62%;
  margin: 0 auto;
  padding-top: 28px;
  font-size: 0;
}
header div div {
  display: inline-block;
  font-size: 28px;
  width: 10%;
}
header div nav {
  width: 90%;
  display: inline-block;
}
header div nav ul {
  width: 80%;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: 20%;
}
header div nav li {
  display: inline-block;
  width: 14%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  text-align: center;
  position: relative;
}
header div nav a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
}
header div nav li:hover .nav-hov {
  opacity: 1;
}

html,
body {
  margin: 0;
  padding: 0;
}

header > div:nth-child(2) {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
header > div:nth-child(2) h1 {
  font-size: 72px;
  text-align: center;
  margin-bottom: 3vh;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  color: #fff;
}
header > div:nth-child(2) h2 {
  font-size: 150px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
header > div:nth-child(2) h2:nth-child(3) {
  margin-top: 0.2vh;
}
header > div:nth-child(2) a {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  padding: 12px 31px 12px 31px;
  border: 3px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
}

header > ul {
  position: absolute;
  width: 62%;
  margin: 0 auto;
  font-size: 0;
  bottom: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
header > ul li {
  width: 19%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 18px;
  border-top: 3px solid #fff;
  list-style-type: none;
  margin-right: 8%;
  position: relative;
}
header > ul span {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
header > ul small {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
header > ul a {
  text-decoration: none;
}
header > ul .header-hov {
  width: 100%;
  border-top: 3px solid #f38181;
  height: 100%;
  position: absolute;
  top: -3px;
  width: 60px;
  opacity: 0;
}
header > ul a:hover li .header-hov {
  opacity: 1;
}

.img1 {
  margin-left: 30px;
}

.last-il {
  margin: 0;
}

.container {
  padding-top: 91px;
  width: 62%;
  margin: 0 auto;
  background-color: #fff;
}
.container .hov-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(242, 219, 139);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(242, 219, 139, 0.8)), to(rgba(238, 137, 137, 0.7)));
  background: linear-gradient(0deg, rgba(242, 219, 139, 0.8) 0%, rgba(238, 137, 137, 0.7) 100%);
  opacity: 0;
}
.container .hov-effect .middle {
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container .hov-effect img {
  width: 25px;
  height: 25px;
  display: block;
  margin: 0 auto;
}
.container .hov-effect span {
  font-size: 25px;
  display: block;
  text-align: center;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.container h3 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 23px;
}
.container h4 {
  text-align: center;
  margin-bottom: 23px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.container .skirtukas {
  border-top: 3px solid #f38181;
  width: 60px;
  margin: 0 auto;
  margin-top: 40px;
}
.container p {
  width: 80%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999999;
  margin: 0 auto;
  margin-top: 43px;
}
.container ul {
  margin-top: 100px;
  font-size: 0;
}
.container ul li {
  width: 30%;
}
.container ul li:first-child {
  display: inline-block;
  margin-right: 5%;
  position: relative;
}
.container ul li:first-child:hover .hov-effect {
  opacity: 1;
}
.container ul li:nth-child(2) {
  display: inline-block;
  margin-right: 5%;
  position: relative;
}
.container ul li:nth-child(2):hover .hov-effect {
  opacity: 1;
}
.container ul li:nth-child(3) {
  display: inline-block;
  position: relative;
}
.container ul li:nth-child(3):hover .hov-effect {
  opacity: 1;
}
.container ul img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.container ul .sumazinti {
  max-height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-numbers {
  height: 270px;
  background-color: #95e1d3;
}
.container-numbers ul {
  width: 62%;
  margin: 0 auto;
  font-size: 0;
  display: block;
}
.container-numbers li {
  font-size: 14px;
  display: inline-block;
  height: 270px;
  width: 20%;
  border-left: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 84.5px;
  text-align: center;
}
.container-numbers li.last-li-n {
  border-right: 1px solid white;
}
.container-numbers .number {
  font-size: 72px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  display: block;
}
.container-numbers .text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: block;
}
.container-numbers .text {
  padding-top: 15px;
}

.a-services {
  width: 62%;
  margin: 0 auto;
  background-color: #fff;
}
.a-services h3 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 23px;
}
.a-services h4 {
  text-align: center;
  margin-bottom: 23px;
  font-size: 30px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}
.a-services p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999999;
  margin: 0 auto;
  margin-top: 43px;
  width: 80%;
}
.a-services :nth-child(5) {
  font-size: 0;
  margin-top: 61px;
}
.a-services :nth-child(5) div {
  display: inline-block;
  width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.a-services :nth-child(7) {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
}
.a-services :nth-child(7) div {
  display: inline-block;
  width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
}
.a-services :nth-child(5) > div:first-child img {
  padding-top: 1px;
}
.a-services h5 {
  font-size: 14px;
  text-align: left;
  display: inline-block;
  width: 80%;
  margin-left: 6%;
  font-weight: 400;
  color: #333333;
}
.a-services p.description {
  font-size: 14px;
  color: #999999;
  width: 75%;
  margin-top: -5px;
  text-align: left;
  margin-right: 5px;
  margin-left: 18%;
  margin-bottom: 35px;
}
.a-services div.icons {
  display: inline-block;
  width: 34px;
  height: 100%;
  border: 1px solid white;
  vertical-align: top;
  width: 12%;
}
.a-services .atskirti {
  border-top: 1px solid #e5e5e5;
  margin-bottom: 35px;
}

.unique-design {
  background-image: url("../images/mogo/gray-background.png");
  width: 100% !important;
  margin: 0 auto;
  position: relative;
}
.unique-design h3 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 23px;
}
.unique-design h4 {
  text-align: center;
  margin-bottom: 23px;
  font-size: 30px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}
.unique-design .display-images {
  position: relative;
  width: 62%;
  margin: 0 auto;
}
.unique-design img.tablet {
  margin-top: 40px;
  display: block;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  margin: 0 auto;
}
.unique-design img.phone {
  position: absolute;
  right: 20%;
  bottom: -45px;
  border-radius: 27px;
}

.skirtukas {
  border-top: 3px solid #f38181;
  width: 60px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

section.main-container {
  width: 62%;
  margin: 0 auto;
}
section.main-container h3 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 23px;
}
section.main-container h4 {
  text-align: center;
  margin-bottom: 23px;
  font-size: 30px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}
section.main-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 91px;
}
section.main-container .pics {
  font-size: 0;
}
section.main-container .pics > div {
  display: inline-block;
  width: 50%;
  font-size: 0;
}
section.main-container .pics > div img {
  width: 100%;
  vertical-align: top;
}
section.main-container .pics > div:nth-child(2) {
  display: inline-block;
  width: 50%;
  font-size: 0;
  vertical-align: top;
}
section.main-container .pics > div:nth-child(2) > div {
  border: 1px solid #e5e5e5;
  height: 56px;
  padding-left: 10px;
}
section.main-container .pics > div:nth-child(2) > div img {
  vertical-align: middle;
  width: 20px;
}
section.main-container span {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  vertical-align: middle;
  padding-left: 10px;
  line-height: 56px;
}
section.main-container .equa span + span {
  margin-left: calc(100% - 160px);
}
section.main-container .bulls span + span {
  margin-left: calc(100% - 172px);
}
section.main-container .photog span + span {
  margin-left: calc(100% - 192px);
}
section.main-container .pics > div:nth-child(2) p {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.queate {
  width: 100%;
  background-color: #f8f8f8;
  padding: 0;
}
section.queate .main-div {
  width: 50%;
  margin: 0 auto;
  font-size: 0;
  padding-top: 80px;
  padding-bottom: 80px;
}
section.queate blockquote {
  width: 82%;
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  padding-left: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
section.queate div > div:first-child {
  display: inline-block;
  border: 3px solid #95e1d3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
section.queate img {
  display: inline-block;
  width: 42px;
  height: 40px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 34px;
}
section.queate hr {
  border-top: 3px solid #f38181;
  width: 60px;
  margin-left: 0px;
  display: inline-block;
  vertical-align: middle;
}
section.queate span {
  display: inline-block;
  margin-left: 15px;
  margin-top: 12px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
}

.hov-efect {
  position: absolute;
  width: 100%;
  left: 0;
  background: rgb(242, 219, 139);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(242, 219, 139, 0.8)), to(rgba(238, 137, 137, 0.7)));
  background: linear-gradient(0deg, rgba(242, 219, 139, 0.8) 0%, rgba(238, 137, 137, 0.7) 100%);
  height: calc(100% - 49px);
  opacity: 0;
  text-align: center;
  display: table;
}
.hov-efect div {
  display: table-cell;
  vertical-align: middle;
}
.hov-efect div img {
  width: 30px !important;
  height: 30px !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.hov-efect div .ho {
  background: #fce38a;
  display: inline-block;
  padding: 13px;
}
.hov-efect div .ho .facebook {
  width: 18px !important;
}
.hov-efect div .ho:hover {
  background-color: #f38181;
}

.who-we-are {
  width: 62%;
  margin: 0 auto;
  margin-top: 91px;
}
.who-we-are h3 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 23px;
}
.who-we-are h4 {
  text-align: center;
  margin-bottom: 23px;
  font-size: 30px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}
.who-we-are p {
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 91px;
  text-align: center;
}
.who-we-are ul {
  margin-top: 100px;
  font-size: 0;
}
.who-we-are ul li {
  width: 30%;
}
.who-we-are ul li img {
  z-index: 0;
}
.who-we-are ul li:first-child {
  display: inline-block;
  margin-right: 5%;
  position: relative;
}
.who-we-are ul li:first-child:hover .hov-efect {
  opacity: 1;
}
.who-we-are ul li:nth-child(2) {
  display: inline-block;
  margin-right: 5%;
  position: relative;
}
.who-we-are ul li:nth-child(2):hover .hov-efect {
  opacity: 1;
}
.who-we-are ul li:nth-child(3) {
  display: inline-block;
  position: relative;
}
.who-we-are ul li:nth-child(3):hover .hov-efect {
  opacity: 1;
}
.who-we-are ul img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.who-we-are ul span {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333333;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
.who-we-are ul li span:nth-child(3) {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #999999;
  font-style: italic;
}

.brands {
  width: 100% !important;
  background-color: #f8f8f8;
  padding: 0;
  margin-top: 91px;
}
.brands img {
  display: block;
  width: 62%;
  margin: 0 auto;
}

.some-of-our-work {
  width: 62%;
  margin: 0 auto;
  margin-top: 91px;
}
.some-of-our-work h3 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 23px;
}
.some-of-our-work h4 {
  text-align: center;
  margin-bottom: 23px;
  font-size: 30px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}
.some-of-our-work p {
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 91px;
  text-align: center;
}

.bg {
  position: absolute;
  width: 100% !important;
  background: rgb(242, 219, 139);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(242, 219, 139, 0.8)), to(rgba(238, 137, 137, 0.7)));
  background: linear-gradient(0deg, rgba(242, 219, 139, 0.8) 0%, rgba(238, 137, 137, 0.7) 100%);
  left: 0;
  z-index: 1;
  opacity: 0;
}
.bg .content-to-center {
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto !important;
  height: 90px !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.bg .content-to-center img {
  display: block !important;
  margin: 0 auto;
  width: 35px !important;
  height: 35px !important;
}
.bg .content-to-center span {
  color: white;
  white-space: nowrap;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-top: 15px;
}
.bg .content-to-center small {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
  margin-left: 13px;
}

.gallery {
  width: 100%;
  font-size: 0;
}
.gallery .kaire {
  display: inline-block;
  width: 50%;
  font-size: 0;
}
.gallery .kaire :first-child {
  width: 50%;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  position: relative;
}
.gallery .kaire :first-child img {
  width: 100%;
}
.gallery .kaire :first-child:hover .bg {
  opacity: 1;
  cursor: pointer;
}
.gallery .kaire :nth-child(2) {
  width: 50%;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
}
.gallery .kaire :nth-child(2) img {
  width: 100%;
  position: relative;
}
.gallery .kaire :nth-child(2) .cc {
  width: 25% !important;
  left: 25%;
}
.gallery .kaire :nth-child(2):hover .bg {
  opacity: 1;
  cursor: pointer;
}
.gallery .kaire :nth-child(3) {
  width: 50%;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  position: relative;
}
.gallery .kaire :nth-child(3) img {
  width: 100%;
}
.gallery .kaire :nth-child(3) .tt {
  position: absolute;
}
.gallery .kaire :nth-child(3):hover .bg {
  opacity: 1;
  cursor: pointer;
}
.gallery .kaire :nth-child(4) {
  width: 50%;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  position: relative;
}
.gallery .kaire :nth-child(4) img {
  width: 100%;
}
.gallery .kaire :nth-child(4):hover .bg {
  opacity: 1;
  cursor: pointer;
}
.gallery .visas {
  width: 25%;
  display: inline-block;
  position: relative;
}
.gallery .visas img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 50vw;
}
.gallery .visas .taisyti {
  height: 100%;
  top: 0;
}
.gallery .visas .taisyti img {
  margin-bottom: 15px;
}
.gallery .visas .rikiuoti small {
  display: inline-block;
}
.gallery .visas :hover .bg {
  opacity: 1;
  cursor: pointer;
}
.gallery .desine {
  display: inline-block;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.gallery .desine :first-child {
  display: inline-block;
  width: 100%;
  height: 25vw;
  position: relative;
}
.gallery .desine :first-child img {
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .desine :first-child:hover .bg {
  opacity: 1;
  cursor: pointer;
}
.gallery .desine :nth-child(2) {
  display: inline-block;
  width: 100%;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .desine :nth-child(2) .cc {
  width: 25% !important;
  left: 75%;
}
.gallery .desine :nth-child(2) img {
  position: relative;
}
.gallery .desine :nth-child(2):hover .bg {
  opacity: 1;
  cursor: pointer;
}

.fix {
  height: 100%;
}

.fix2 {
  position: absolute;
}

.queate-2 {
  width: 100% !important;
  margin-top: 91px;
  padding-bottom: 0 !important;
}
.queate-2 .main-div {
  width: 50%;
  margin: 0 auto;
  font-size: 0;
  padding-bottom: 80px;
}
.queate-2 blockquote {
  width: 82%;
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  padding-left: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #999999;
}
.queate-2 div > div:first-child {
  display: inline-block;
  width: 18%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.queate-2 img {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.queate-2 hr {
  border-top: 3px solid #f38181;
  width: 60px;
  margin-left: 0px;
  display: inline-block;
  vertical-align: middle;
}
.queate-2 span {
  display: inline-block;
  margin-left: 15px;
  margin-top: 12px;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
}

.testimonials {
  width: 100% !important;
  height: auto;
  background-image: url("../images/mogo/mountain-background.jpg");
  padding-top: 91px;
  padding-bottom: 91px;
}
.testimonials h3 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 23px;
}
.testimonials h4 {
  text-align: center;
  margin-bottom: 23px;
  font-size: 30px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}
.testimonials p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 91px;
  text-align: center;
}
.testimonials .main-div-for-tesimonials {
  width: 62%;
  margin: 0 auto;
}
.testimonials .main-div-for-tesimonials .p-aprasymas {
  width: 95%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999999;
  text-align: left;
  margin: 0;
}
.testimonials .main-div-for-tesimonials h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}
.testimonials .main-div-for-tesimonials span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #333333;
  font-size: 15px;
}
.testimonials .main-div-for-tesimonials .testi {
  margin-left: 0;
  margin: 15px 0 15px;
}
.testimonials .top-block {
  font-size: 0;
  margin-bottom: 40px;
}
.testimonials .top-block > div:first-child {
  width: 50%;
  display: inline-block;
}
.testimonials .top-block > div:nth-child(2) {
  width: 50%;
  display: inline-block;
}
.testimonials .top-block > div:nth-child(2) img {
  -o-object-position: bottom;
     object-position: bottom;
}
.testimonials .bottom-block {
  font-size: 0;
}
.testimonials .bottom-block > div:first-child {
  width: 50%;
  display: inline-block;
}
.testimonials .bottom-block > div:nth-child(2) {
  width: 50%;
  display: inline-block;
}
.testimonials img {
  width: 80px !important;
  height: 80px !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  display: inline-block !important;
}
.testimonials .testi-pic {
  width: auto;
  display: inline-block;
  vertical-align: top;
}
.testimonials .testi-descr {
  width: 75% !important;
  display: inline-block;
  margin-left: 25px;
}

.universal-container {
  padding-top: 91px;
  padding-bottom: 91px;
  width: 62%;
  margin: 0 auto;
}
.universal-container h3 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 23px;
}
.universal-container h4 {
  text-align: center;
  margin-bottom: 23px;
  font-size: 30px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}
.universal-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 91px;
  text-align: center;
}
.universal-container ul {
  margin-top: 100px;
  font-size: 0;
}
.universal-container ul li {
  width: 30%;
}
.universal-container ul li:first-child {
  display: inline-block;
  margin-right: 5%;
  position: relative;
}
.universal-container ul li:nth-child(2) {
  display: inline-block;
  margin-right: 5%;
  position: relative;
}
.universal-container ul li:nth-child(3) {
  display: inline-block;
  position: relative;
}
.universal-container ul img.big {
  width: 100%;
  height: auto;
}
.universal-container ul span.name {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333333;
  text-align: center;
  width: 100%;
  margin: 15px 0 15px;
}
.universal-container ul li span:nth-child(4) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #999999;
  font-style: italic;
}
.universal-container ul img.little-img {
  width: auto;
  height: auto;
  display: inline;
  margin-right: 10px;
  vertical-align: top;
}
.universal-container ul .chat {
  height: 14px !important;
}
.universal-container ul hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
}
.universal-container ul .nr {
  display: inline !important;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #999999;
}
.universal-container ul .label {
  background-color: #95e1d3;
  width: auto;
  padding: 14px;
  position: absolute;
  bottom: 150px;
  left: -10px;
}
.universal-container ul .label span {
  display: block;
  font-size: 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 30px;
  margin-top: 0;
}
.universal-container ul .label small {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: white;
}

.map {
  width: 100%;
  background-image: url("../images/mogo/map-bg.jpg");
}
.map img {
  margin: 0 auto;
  display: block;
}
.map a {
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.map a span {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #f38181;
}
.map .skirtukas {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.last-blog {
  font-size: 0;
}
.last-blog > div:first-child p {
  width: 33.33%;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.last-blog #logo {
  font-size: 46px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ccc;
  margin: 0;
  padding: 0;
}
.last-blog > div:nth-child(2) {
  display: inline-block;
  width: 40%;
}
.last-blog > div:nth-child(2) p:first-child {
  color: #999999;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: left;
  margin-top: 0;
  padding-right: 10px;
  vertical-align: top;
  line-height: 25px;
  word-spacing: 5px;
  margin-bottom: 40px;
}
.last-blog > div:nth-child(2) p:nth-child(2) {
  color: #333333;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  width: 95%;
  padding-bottom: 15px;
  margin-bottom: 0;
}
.last-blog > div:nth-child(2) p:nth-child(2) strong {
  color: #333333;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.last-blog > div:nth-child(2) p:nth-child(3) {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  color: #333333;
  margin-bottom: 35px;
  margin-top: 15px;
}
.last-blog > div:nth-child(2) p:nth-child(3) img {
  margin-left: 5px;
}
.last-blog > div:nth-child(2) p:nth-child(3) .image-pin {
  height: 20px;
  width: 15px !important;
}
.last-blog > div:nth-child(2) p:nth-child(3) span {
  vertical-align: text-bottom;
}
.last-blog > div:nth-child(2) form {
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}
.last-blog > div:nth-child(2) form input {
  width: 60%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 36px;
  border: 1px solid #95e1d3;
  vertical-align: top;
}
.last-blog > div:nth-child(2) form input::-webkit-input-placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #ccc;
  padding-left: 5px;
}
.last-blog > div:nth-child(2) form input::-moz-placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #ccc;
  padding-left: 5px;
}
.last-blog > div:nth-child(2) form input:-ms-input-placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #ccc;
  padding-left: 5px;
}
.last-blog > div:nth-child(2) form input::-ms-input-placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #ccc;
  padding-left: 5px;
}
.last-blog > div:nth-child(2) form input::placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #ccc;
  padding-left: 5px;
}
.last-blog > div:nth-child(2) form input[type=submit] {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  padding: 10px;
  background-color: #95e1d3;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.last-blog > div:nth-child(3) {
  display: inline-block;
}
.last-blog div.blogs {
  font-size: 15px;
  display: inline-block;
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.last-blog .blogs > div {
  display: inline-block;
  margin-bottom: 47px;
}
.last-blog .blogs > div span {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin-top: 25px;
}
.last-blog .blogs > div span small {
  font-size: 13px;
  font-family: 300;
  font-style: italic;
  color: #999999;
  display: block;
}
.last-blog .blogs > div img {
  width: 40%;
}
.last-blog div:nth-child(4) {
  display: inline-block;
  font-size: 0;
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
  vertical-align: top;
}
.last-blog div:nth-child(4) .pics-rows {
  margin-top: 2%;
}
.last-blog div:nth-child(4) .pics-rows div {
  display: inline-block;
  width: 32%;
  height: auto;
}
.last-blog div:nth-child(4) .pics-rows div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100% !important;
}
.last-blog div:nth-child(4) .pics-rows :first-child {
  margin-right: 2%;
}
.last-blog div:nth-child(4) .pics-rows :nth-child(2) {
  margin-right: 2%;
}
.last-blog div:nth-child(4) span {
  margin-top: 10px;
  width: 50%;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #333333;
}
.last-blog div:nth-child(4) :nth-child(4) {
  width: 100%;
}

.for-smaller-screens {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 15px;
  text-align: center;
}

footer {
  border-top: 1px solid #e5e5e5;
  width: 100%;
}
footer p {
  width: 62%;
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
footer p span {
  color: #f38181;
}

@media only screen and (max-width: 1350px) {
  header div nav ul {
    width: 90% !important;
    margin-left: 10% !important;
  }
}
@media only screen and (max-width: 1250px) {
  header h1 {
    font-size: 3rem !important;
  }
  header h2 {
    font-size: 7rem !important;
  }
  div.blogs {
    vertical-align: top;
  }
  .last-blog .blogs > div span {
    margin: 0 auto;
    font-size: 10px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .last-blog .blogs > div span small {
    font-size: 12px;
  }
  .last-blog :nth-child(4) {
    vertical-align: top;
  }
  .last-blog > div:nth-child(2) p:nth-child(3) span img {
    width: 15px;
    height: 15px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 2px;
  }
  .last-blog > div:nth-child(2) form input {
    width: 58%;
  }
  .last-blog > div:nth-child(2) form input[type=submit] {
    width: 42%;
  }
  .unique-design img.phone {
    right: 5%;
  }
}
@media only screen and (max-width: 992px) {
  header div nav ul {
    width: 90% !important;
    margin-left: 10% !important;
  }
  .container-numbers .number {
    font-size: 42px;
  }
  .container-numbers .text {
    font-size: 18px;
  }
  .container-numbers ul li:last-child .number {
    padding-bottom: 14px;
  }
  .a-services div h5 {
    margin-left: 18%;
    width: 50%;
  }
  .a-services p.description {
    padding-left: 13%;
    width: 50%;
  }
  .unique-design img.phone {
    right: 0%;
  }
  section.main-container .pics > div:nth-child(2) p {
    height: 100px;
  }
  section.queate .main-div {
    width: 100%;
  }
  section.queate div > div:first-child {
    display: none;
  }
  section.queate blockquote {
    width: 62%;
    margin: 0 auto;
    display: block;
  }
  .queate-2 .main-div {
    width: 62%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .queate-2 blockquote {
    width: 82%;
    display: inline-block;
    font-size: 24px;
    font-style: italic;
    padding-left: 64px;
  }
  .testimonials .testi-pic {
    margin-left: 25px;
    margin-bottom: 25px;
  }
  .last-blog > div:nth-child(2) form input {
    width: 58%;
    height: 25px;
  }
  .last-blog > div:nth-child(2) form input[type=submit] {
    width: 42%;
    height: 25px;
    padding: 0;
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  header {
    position: relative;
  }
  header nav {
    top: 100px;
    position: absolute;
    width: 100% !important;
    left: 0;
    display: block;
  }
  header nav ul {
    margin: 0 auto !important;
  }
  header nav ul li {
    text-align: left;
  }
  .testimonials p {
    width: 60%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 91px;
  }
  .gallery .kaire {
    width: 99.5%;
  }
  .gallery .desine {
    width: 74.5%;
  }
  .visas {
    width: 25%;
  }
  header h1 {
    font-size: 1.5rem !important;
  }
  header h2 {
    font-size: 2.5rem !important;
  }
  .last-blog :nth-child(4) {
    width: 100% !important;
  }
  .last-blog > div:first-child > p:last-child {
    display: none;
  }
  .last-blog > div:first-child > p {
    width: 50%;
  }
  .last-blog > div:nth-child(2) {
    width: 65%;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .last-blog > div:nth-child(3) {
    width: 35%;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .last-blog > div:nth-child(3) div {
    margin-bottom: 15px;
  }
  .last-blog > div:nth-child(3) span {
    width: 100%;
  }
  .last-blog > div:nth-child(3) .image-pin {
    width: 25px !important;
  }
  .last-blog > div:nth-child(3) img {
    width: 100%;
  }
  .universal-container ul li {
    padding-bottom: 25px;
    width: 100%;
  }
  .unique-design img.tablet {
    width: 100%;
    height: auto;
  }
  .unique-design img.phone {
    width: 30%;
    height: auto;
  }
  .unique-design {
    padding-bottom: 0;
  }
  section.main-container .pics > div {
    width: 100%;
  }
  section.main-container .pics > div .descr-left {
    width: 100%;
  }
  section.main-container .pics > div:nth-child(2) {
    width: 100%;
  }
  .a-services :nth-child(5) .main {
    width: 100%;
  }
  .a-services :nth-child(7) .main {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .last-blog > div:nth-child(3) {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */